In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.li

In [8]:
data = pd.read_csv('diabetes.csv')

In [9]:
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [11]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [12]:
data.shape

(768, 9)

In [13]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [14]:
data.duplicated().sum()

0

In [15]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [20]:
X = data.drop(columns='Outcome',axis=1)

In [21]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [22]:
X.shape

(768, 8)

In [18]:
y = data['Outcome']

In [19]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [23]:
y.shape

(768,)

In [25]:
se = StandardScaler()

In [28]:
X = se.fit_transform(X)

In [29]:
X

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [30]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,shuffle=True,random_state=3)

In [31]:
X_train

array([[ 1.23388019, -0.02799627, -3.57259724, ..., -0.25289651,
        -0.87244072,  0.40494237],
       [ 1.23388019,  0.1597866 ,  0.25303625, ..., -0.77326542,
        -0.93586321,  0.49003012],
       [ 0.04601433,  0.72313521, -0.57412775, ..., -0.31635613,
        -0.55834837,  0.31985461],
       ...,
       [ 0.04601433, -0.96691063, -3.57259724, ..., -0.506735  ,
         0.41714996, -0.19067191],
       [-0.84488505, -0.30967058,  0.87340925, ..., -0.24020459,
        -0.99324546, -0.87137393],
       [ 0.63994726, -0.184482  , -0.47073225, ...,  0.2167047 ,
        -0.68519336,  0.57511787]])

In [32]:
X_test

array([[-0.84488505, -0.62264204, -0.98770975, ..., -0.98902814,
         0.16345999, -0.61611067],
       [ 0.04601433,  1.09870096,  0.304734  , ...,  2.06972568,
        -0.70633419, -0.10558415],
       [-0.84488505, -0.74783062, -0.16054575, ..., -1.11594738,
         0.04567536, -0.95646168],
       ...,
       [ 0.04601433,  0.03459802, -0.05715025, ...,  0.38169971,
        -0.23519567, -0.36084741],
       [ 0.63994726,  1.03610667,  0.45982725, ...,  1.79050334,
         0.29936533, -0.53102292],
       [ 0.63994726, -0.40356202, -1.29789624, ..., -1.01441198,
         1.03023405,  0.14967911]])

In [33]:
y_train

468    1
478    0
107    0
304    0
515    1
      ..
659    1
256    0
643    0
249    0
664    1
Name: Outcome, Length: 614, dtype: int64

In [34]:
y_test

51     0
378    1
27     0
579    1
86     0
      ..
301    1
759    1
233    0
469    0
576    0
Name: Outcome, Length: 154, dtype: int64